@using Lektion5.ViewModel;
@model UserDetailsViewModel
@{
    ViewBag.Title = "UserDetailPartial";
}

<p>
    <div>
        Username: @Model.User.UserName
    </div>
    <div>
        First name: @Model.User.FirstName
    </div>
    <div>
        Last name: @Model.User.LastName
    </div>
    <div>
        Posts: @Model.Posts.Count [Count är placeholder - vi kan lika gärna visa 5 posts då vi har tillgång till dem]
    </div>
</p>