@using Lektion5.Model;
@model User
@{
    ViewBag.Title = "UserDetailPartial";
}

<p>
    <div>
        Username: @Model.UserName
    </div>
    <div>
        First name: @Model.FirstName
    </div>
    <div>
        Last name: @Model.LastName
    </div>
</p>