@using Lektion5.ViewModel;
@model UserListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.FirstPage < Model.CurrentPage)
{
    <div>
        @Html.ActionLink("< Prev", "Index", "User", new { id = Model.CurrentPage - 1 }, null)
    </div>
}

@if (Model.LastPage > Model.CurrentPage)
{
    <div>
        @Html.ActionLink("Next >", "Index", "User", new { id = Model.CurrentPage + 1 }, null)
    </div>
}

@foreach (var userDetails in Model.UserDetails)
{ 
    @Html.Partial("_UserDetailPartial", userDetails)
}